* {
	margin: 0;
	padding: 0;
	border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

@import './variables/colores';
@import './variables/fonts';
@import "../node_modules/bootstrap/scss/bootstrap";
@import './secciones/header';
@import './secciones/main-index';
@import './secciones/footer';
@import './secciones/colaboraciones';
@import './secciones/talleres';
@import './secciones/venta';
@import './variables/each';


body{
    background: linear-gradient(322deg, #fdefc7, #fffcdb, #ffffff);
    background-size: 600% 600%;
    animation: AnimationName 13s ease infinite;

    @keyframes AnimationName {
        0%{background-position:0% 17%}
        50%{background-position:100% 84%}
        100%{background-position:0% 17%}
        } 
}
