* {
	margin: 0;
	padding: 0;
	color: inherit;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

/* FIX PARA IMAGENES */
img {
	max-width: 100%;
	height: auto;
}
@import './variables/colores';
@import './variables/fonts';
@import "../node_modules/bootstrap/scss/bootstrap";
@import './secciones/header';
@import './secciones/main-index';
@import './secciones/footer';
@import './secciones/colaboraciones';
@import './secciones/talleres';
@import './secciones/venta';
@import './variables/each';


body{
    background-image: url(../background.svg);
}
