footer{
    background-color: $colorSecundario;
    .sm{
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        .icon{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
    .map{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95vw;
    }
    h2{
        text-align: center;
    }
    .form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        div{
            input, textarea{
                border: 1PX solid $colorSecundario;
            margin-bottom: 2px;
            }
            button{
                border: $colorPrimario 1px solid;
                        -webkit-border-radius: 20px;
                        -moz-border-radius: 20px;
                        -ms-border-radius: 20px;
                        -o-border-radius: 20px;
                        background-color: $colorPrimario;
                        font-family: 'Roboto', sans-serif;
                        border-radius: 20px;
                        padding-right: 10px;
                        padding-left: 10px;
            }
        }
        
    }
}
@media (min-width: 950px){
    footer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        .map{
            max-width: 400px;
        }
    }

}