main{
    
    .heroSection{
	background: url(../../main/hero.jpg) no-repeat center/cover;
	background-attachment: fixed;
	position: relative;
		display: flex;
		flex-flow: column;
		justify-content: center;
        height: 100vh;
        h1{
            font-family: $fuenteUno;
            text-transform: uppercase;
            color: $colorSecundario;
        }
        div{
            a{
                text-decoration: none;
                color: $fuenteDos;
                color: $colorSecundario;
                border: 1px solid $colorPrimario;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                background: $colorPrimario;
            }
        }
        article{
            display: flex;
            flex-direction: column;
            align-content: space-around;
            justify-content: center;
            align-items: center;
            div{
                img{
                    object-fit: contain;
                }
            }
            }
    }
    .about-us{
        h2{
            font-family: $fuenteUno;
            text-transform: uppercase;
            color: $colorSecundario;
        }
        .containerUs{
            display: flex;
            flex-wrap: wrap;
            .imgUs{
                min-width: 250px;
            }
        }
    }
}